.project-scrollbar {
	position: relative;
	height: 600px;
	overflow: auto;
}
.backlog-scrollbar {
	position: relative;
	height: 600px;
	overflow: auto;
}

.sprint-scrollbar {
	position: relative;
	height: 425px;
	overflow: auto;
}
.comment-scrollbar {
	position: relative;
	height: 250px;
	overflow: auto;
}
.comment-modal-row {
	font-size:11px;
}

.table-wrapper-scroll-y {
	display: block;
}