
.project-scroll tbody {
	display: block;
	max-height: 600px;
	overflow-y: scroll;
}

.project-scroll thead, tbody tr {
	display: table;
	width:100%;
	table-layout:fixed;
}

.team-scroll tbody {
	display: block;
	max-height: 570px;
	overflow-y: scroll;
}

.team-scroll thead, tbody tr {
	display: table;
	width:100%;
	table-layout:fixed;
}



